# **Philippine Scam SMS**
**Phase 3: Data Visualization**

**Author/s: [Anton Reyes](https://www.github.com/AGR-yes)**

## **Introduction**

### **Requirements and Imports**

#### **Imports**

**Basic Libraries**

* `numpy` contains a large collection of mathematical functions
* `pandas` contains functions that are designed for data manipulation and data analysis

In [1]:
import numpy as np
import pandas as pd

**Visualization Libraries**

* `matplotlib.pyplot` contains functions to create interactive plots
* `seaborn` is a library based on matplotlib that allows for data visualization
* `plotly` is an open-source graphing library for Python.

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

**Natural Language Processing Libraries**
* `re` is a module that allows the use of regular expressions

In [3]:
import re

#### **Datasets and Files**

The following `csv` files was used for this project:

- `incidents.csv` contains 2019 data of how many spam texts were received in each region of the Philippines.
- `proof_cleaned.csv` contains data from the `select.csv` and `spam.csv` that has been processed already with Natural Language Processing methods.
- `select.csv` contains the necessary columns from Google Sheets.
- `spam.csv` contains the necessary columns from a Kaggle user's own spam texts that they've received.
- `top100_words.csv` contains the top 100 commons words from the `proof_cleaned.csv`

## **Data Collection**

Importing the dataset using pandas.

In [27]:
incidents = pd.read_csv("Processed Datasets/incidents.csv")
proof = pd.read_csv("Processed Datasets/proof_cleaned.csv")
select = pd.read_csv("Processed Datasets/select.csv")
spam = pd.read_csv("Processed Datasets/spam.csv")
top100 = pd.read_csv("Processed Datasets/top100_words.csv")

datasets = [dataset, proof, select, spam, top100]

In [29]:
for i in datasets:
    display(i.head())

     region   number
0     BARMM   390.48
1       CAR   112.60
2    CARAGA   500.00
3       NCR  2739.52
4  Region 1   113.30

               proof   name       type                        token
0               poea  False     others                     ['POEA']
1               poea  False     others                     ['POEA']
2  federal partylist  False  political     ['Federal', 'Partylist']
3  build build build  False  political  ['Build', 'Build', 'Build']
4  luckyphilcomlogin  False      lotto        ['luckyphilcomlogin']

   id      number  network    type proof   name indicator
0   1  9103239417  Unknown    work   NaN  False       910
1   2    95348643  Unknown  others   NaN  False       953
2   3   931804865  Unknown    work   NaN  False       931
3   4   981197529  Unknown   lotto   NaN  False       981
4   5   981369614  Unknown    work   NaN  False       981

                                               proof        Date   Time   name
0  Welcome ! your have P1222 for S!ot , \nWeb: 11...  2022-11-12  14:02  False
1  My god, at least 999P rewards waiting for you\...  2022-11-12  14:33  False
2  DEAR VIP , No. 1 Online Sabong Site here in SB...  2022-11-13  23:03   True
3  ! Today, you can win the iphone14PROMAX while ...  2022-11-14  00:07   True
4  Welcome ! your have P1222 for S!ot , \nWeb: gr...  2022-11-15  02:28  False

      word  count
0      now    157
1    bonus    122
2  message     68
3   LIGHTS     67
4        3     66

## **Description of the Dataset**

Here, we find the shape of the dataset.

In [19]:
#printing shape of each dataset from the list
for i in datasets:
    print(i.shape)

(17, 2)
(1414, 4)
(4883, 7)
(159, 4)
(100, 2)

By looking at the `info` of the dataframe, we can see that there are `non-null` values.

In [23]:
for i in datasets:
    display(i.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   region  17 non-null     object
 1   number  17 non-null     float64
dtypes: float64(1), object(1)
memory usage: 400.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1414 entries, 0 to 1413
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   proof   1404 non-null   object
 1   name    1414 non-null   bool
 2   type    1228 non-null   object
 3   token   1414 non-null   object
dtypes: bool(1), object(3)
memory usage: 34.6+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4883 entries, 0 to 4882
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         4883 non-null   int64
 1   number     4883 non-null   object
 2   network    4883 non-null   object
 3   type       4679 non-null   object
 4   proof      1255 non-null   object
 5   name       4883 non-null   bool
 6   indicator  4883 non-null   object
dtypes: bool(1), int64(1), object(5)
memory usage: 233.8+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   proof   159 non-null    object
 1   Date    159 non-null    object
 2   Time    159 non-null    object
 3   name    159 non-null    bool
dtypes: bool(1), object(3)
memory usage: 4.0+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   word    100 non-null    object
 1   count   100 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.7+ KB

None

## **Charts**

### **Type & Name**

#### **Type**

#### **Name**

#### **Types for Texts With Names**

### **Number**

### **Words**

#### **Top 100 Words**

#### **WordCloud**

### **Peak Time of Texts**

### **Incidents per Region**